kth-hamburger-button { 
ul {
.header {
    background-color: rgb(233, 165, 50);
    color: rgb(255,255,255);
    display: flex;
    margin: 0 auto;
    max-width: 1140px;
    height: 80px;
    padding: 0;
    align-items: center;
}

.header__logo {
    width: auto;
    height: auto;
    max-width: calc(100vw - 74px);
    cursor: pointer;
}

.header__hamburger {
    margin: 0 10px;
    line-height: 80px;
}

.header__nav {
    display: none;
    margin: 0 20px 0 0;
    list-style-type: none;
    justify-content: flex-end;
    min-height: 80px;
    line-height: 80px;
    width: 100%;
}

.header__nav-item {
    display: inline-block;
}

.header__nav-link,
.header__nav-link:link,
.header__nav-link:visited {
    border-radius: 5px;
    color: white;
    cursor: pointer;
    line-height: 60px;
    margin: 0px;
    padding: 8px 20px;
    text-decoration: none;
}

.header__nav-link--active {
    font-weight: 600;
}

.header__nav-link:hover {
    background-color: rgba(0,0,0,.075);
}

@media screen and (min-width: 576px) {
    .header__logo {
        width: auto;
        height: auto;
        max-height: 80px;
        max-width: 386px;
    }
}

@media screen and (min-width: 768px) {
    .header__nav {
        display: flex;
    }
    .header__hamburger {
        margin: 0 20px;
    }
}