<div class="header">
    <kth-hamburger-button class="header__hamburger" (click)='menuClick.emit()'></kth-hamburger-button>
    <img class="header__logo" [src]='imageUrl' (click)='logoClick.emit()' />
    <ul class="header__nav" *ngIf='!hideNavigation'>
        <li class="header__nav-item"><a class="header__nav-link" [routerLink]="['/home']" routerLinkActive="header__nav-link--active">Home</a></li>
        <li class="header__nav-item"><a class="header__nav-link" [routerLink]="['/toys']" routerLinkActive="header__nav-link--active">Toys</a></li>
        <li class="header__nav-item"><a class="header__nav-link" [routerLink]="['/about']" routerLinkActive="header__nav-link--active">About</a></li>
        <li class="header__nav-item"><a class="header__nav-link" [routerLink]="['/legal']" routerLinkActive="header__nav-link--active">Legal</a></li>
    </ul>
</div>