
.confirmation-page {
	display: block;
	margin: 20px;
}

.confirmation-page__title {
	font-size: 2em;
	margin-bottom: 20px;
}

.confirmation-page__signature {
	display: block;
	margin: 0 auto;
	border: 1px solid #ccc;
	width: 100%;
	max-width: 400px;
	height: 200px;
}
