:host {
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    grid-template-rows: 80px 1fr 368px;
    height: 100%;
    margin: 0;
    padding: 0;    
}

.header-container {
    background-color: rgb(233, 165, 50);
    width: 100%;
}

@media screen and (min-width: 768px) {
    .content-container {
        max-width: 1140px;
        margin: 35px auto 35px;
    }
}