.profile {
    display: block;
    margin: 20px;
}

.profile__title {
    padding: 0;
    margin: 0;
    font-size: 2em;
    line-height: 1em;
}

.profile__subtitle {
    margin: 40px 0px 0px 0px;
    padding: 0;
}

.profile__bookings {
    margin-top: 20px;
}