
<h1>Order</h1>

<router-outlet></router-outlet>

<!-- <h1>Order</h1>

<router-outlet></router-outlet>

<h2>0. Date and Time </h2>

<div class='field'>
    <label>Date</label>
    <input type='text'/>
</div>

<div class='field'>
    <label>Morning</label>
    <input type='checkbox'/>
</div>

<div class='field'>
    <label>Evening</label>
    <input type='checkbox'/>
</div>

<button>next</button>

<h2>1. Customer Basic Info</h2>

<div class='field'>
        <label>First Name:</label>
        <input type='text'/>
    </div>

<div class='field'>
    <label>Last Name:</label>
    <input type='text'/>
</div>

<div class='field'>
    <label>Email:</label>
    <input type='text'/>
</div>

<div class='field'>
    <label>Phone Number:</label>
    <input type='text'/>
</div>

<button>next</button>

<h2>2. Delivery Location</h2>

<button>next</button>

<h2>3. Pickup Location</h2>

<button>next</button>

<h2>4. Process Payment</h2>

<a>Agree to terms</a>
<button>next</button>

<button>submit</button> -->