.your-order {
    display: block;
}

.your-order__image {
    max-height: 200px;
    margin: 0 auto;
    display: block;
    position: relative;
    width: 133px;
    text-align: center;
}

.your-order__product {
    text-align: center;
}

.your-order__booking-date {
    line-height: 1.5;
    font-weight: 600;
}

.your-order__line-item {
    display: grid;
    grid-template-columns: 2fr 1fr;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

.your-order__line-item-amount {
    text-align: right;
}

.your-order__line-item--total {
    font-weight: 600;
}