:host {
    display: grid;
    border: 0.75px solid #ccc;
    text-align: center;
}

img {
    margin: 0 auto;
    max-height: 250px;
}

button {
    border: none;
    background-color: rgb(104,41,0);
    height: 50px;
    border-radius: 5px;
    color:white;
    margin: 20px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}