:host {
    display: grid;
    border: none;
    text-align: center;
    letter-spacing: 0.5px;    
}

h1 {
    font-size: 2em;
    line-height: 1.25em;
    padding: 10px 0px;
    margin: 0;
    font-weight: 600;
}
img {
    margin: 0 auto;
    max-height: 300px;
}
.toy-price, .toy-price-period {    
    line-height: 1em;
    font-weight: 100;
    padding:5px 0;
}
.toy-price {
    font-size: 2em;
    margin: 0 5px 0 0; 
}

.toy-price-period {
    font-size: 1.67em;
    color: rgb(233, 165, 50);
}

kth-button {
    margin: 20px auto 0px;
}