:host{
    display: block;
}

h3 {
    margin: 20px 20px 40px;
    text-align: center;
    padding: 0;
}

form {
    display: grid;
    grid-row-gap: 10px;
    max-width: 800px;
    margin: 0 auto;
}

.field {
    display: grid;
    grid-template-columns: 150px 1fr;    
    margin: 0px 20px 15px;
}

.field-error {
    grid-column: 2;    
    color: red;
    font-size: .75em;
    line-height: 2em;
}

input, label, select {
    line-height: 24pt;
}

input, select {
    padding: 0px 12px;
    -webkit-appearance: none;
    border: solid 1px #000;
    border-radius: 0;
}

select {
    padding: 10px 12px;
}

kth-button {
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    h3 {
        margin: 20px auto 40px;
    }
}