:host{
    display: block;
}

h3 {
    margin: 20px 20px 40px;
    text-align: center;
    padding: 0;
}

form {
    display: grid;
    grid-row-gap: 10px;
    max-width: 800px;
    margin: 0 auto;
}

.field {
    display: grid;
    grid-template-columns: 150px 1fr;    
    margin: 0px 20px 15px;
}

.field-error {
    grid-column: 2;    
    color: red;
    font-size: .75em;
    line-height: 2em;
}

input[type="text"], label, select {
    line-height: 24pt;
}

input[type="text"], select {
    padding: 0px 12px;
    -webkit-appearance: none;
    border: solid 1px #000;
    border-radius: 0;
}

select {
    padding: 10px 12px;
}

kth-button {
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    h3 {
        margin: 20px auto 40px;
    }
}

label {
    font-size: 16px;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox label {
    position: relative;
    display: inline-block;
    
    /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
    padding-left: 32px;
}

.checkbox label::before,
.checkbox label::after {
    position: absolute;
    content: "";
    display: inline-block;
}

.checkbox label::before{
    height: 16px;
    width: 16px;    
    border: 1px solid;
    left: 0px;   
    top: 3px;
}

.checkbox label::after {
    height: 5px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    
    transform: rotate(-45deg);
    
    left: 4px;
    top: 7px;
}

.checkbox input[type="checkbox"] + label::after {
    content: none;
}

.checkbox input[type="checkbox"]:checked + label::after {
    content: "";
}

.checkbox input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}


