:host{
    display: block;
}

h3 {
    display: inline-block;
    position: relative;
    margin: 20px auto 40px;
    width: 100%;
    text-align: center;
}

form {
    display: grid;
    grid-row-gap: 10px;
    max-width: 800px;
    margin: 0 auto;
}

.field {
    display: grid;
    grid-template-columns: 150px 1fr;    
    margin: 0px 20px 15px;
}

input, label, select {
    line-height: 24pt;
}

input, select {
    padding: 0px 12px;
    -webkit-appearance: none;
    border: solid 1px #000;
    border-radius: 0;
}

select {
    padding: 10px 12px;
}

kth-button {
    margin: 0 auto;
}