:host {
    background-color: rgb(233, 165, 50);
    color: rgb(255,255,255);
    display: flex;
    margin: 0 auto;
    max-width: 1140px;
    height: 80px;        
    padding: 0;            
}

img {
    width: auto;
    height: auto;
    max-width: calc(100vw - 74px);
}

a, a:link, a:visited {
    border-radius: 5px;
    color: white;    
    cursor: pointer;
    line-height: 60px;
    margin: 0px;
    padding: 8px 20px;
    text-decoration: none;    
}

.active-link {
    font-weight: 600;
}

a:hover {
    background-color: rgba(0,0,0,.075);
}

kth-hamburger-button { 
    margin: 0 10px;
    line-height: 80px;
}

ul {
    display: none;
    margin:0;
    list-style-type: none;
    justify-content: flex-end;
    min-height: 80px;
    line-height: 80px;
    margin: 0px 20px 0px 0px;  
    width: 100%;      
}

img { 
    cursor: pointer;
}

@media screen and (min-width: 576px) {
    img {
        width: auto;
        height: auto;
        max-height: 80px;
        max-width: 386px;
    }
}


@media screen and (min-width: 768px) {
    ul {
        display: flex;    
    }

    kth-hamburger-button { 
        margin: 0 20px;
    }
}