.order-page {
    display: block;
    margin: 0px 0px 35px;
}

.order-page__steps {
    width: 100%;
    text-align: center;
    margin: 20px 0px 0px 0px;
    padding: 0;
    list-style: none;
}

.order-page__step {
    font-size: 18pt;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
}

.order-page__step-link,
.order-page__step-link:visited,
.order-page__step-link:link {
    color: black;
    text-decoration: none;
    margin: 0 10px 0 10px;
    cursor: default;
    width: 100%;
}

.order-page__step-link--active {
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    .order-page__grid {
        display: grid;
        grid-template-columns: 1fr 225px;
        max-width: 800px;
        margin: 20px auto 0px;
        grid-column-gap: 40px;
    }
}

.order-page__content {
}

.order-page__your-order {
}